#app{
    font-family: 'Avenir',Helvetica,Arial,sans-serif;
    -webkit-font-smoothings:antialiased;
    -moz-osex-font-smoothings: grayscale;
    text-align:  center;
    color:#2c3e50;
    margin-top: 60px;

}
button{
    font-size: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   color: white;
   background: #638cb5;
   border: 1px;
   width: 115px;
   height: 20px;
   border-color: teal;
   }

h1{
    color: darkblue;
    font-size: 40px;
    
}
p{
    font-size: 25px;
}

