<div id="app">
    <div>
        <img src="./assets/logo1.jpg">
    </div>
<h1 style="margin: 30px"> OPERACIONES MATEMÁTICAS</h1>

<p>Valor 1: <input  [(ngModel)]="valor1" type="number" placeholder=" Ingrese Numero 1 "></p>
<p>Valor 2: <input  [(ngModel)]="valor2" type="number" placeholder=" Ingrese Numero 2 "></p>

<div>
<button  style= "margin: 10px"(click)="Suma()">Sumar</button> 
<button  style= "margin: 10px"(click)="Resta()">Restar</button>
<button style= "margin: 10px"(click)="Multiplicacion()">Multiplicar</button>
</div>
<div>
<button style= "margin: 10px"(click)="Division()">Dividir</button>
<button style= "margin: 10px"(click)="Potencia()">Potencia</button>
<button style= "margin: 10px"(click)="Raiz()">Raiz</button>
</div>
<div>
<button style= "margin: 10px"(click)="Residuo()">Residuo</button>
<button style= "margin: 10px"(click)="Permutacion()">Permutacion</button>
<button style= "margin: 10px"(click)="Combinacion()">Combinacion</button>
</div>
<p><strong>  El resultado es = {{resultado}}</strong> </p>
</div>
